[Unit]
Description=Card Reader
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/source/cardreader/cardReaderService.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
